<div th:fragment="add-galaxy" sec:authorize="hasAuthority('WRITE') || hasAuthority('ADMIN')">
    <br />
    <form action="#" th:action="@{/add-galaxy}" th:object="${galaxy}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
        <label for="constellation">Constellation</label>
        <input type="text" th:field="*{constellation}" id="constellation" placeholder="Constellation">
        <span th:if="${#fields.hasErrors('constellation')}" th:errors="*{constellation}" class="error"></span>
        <input type="submit" value="Add Galaxy">
    </form>
</div>
