<div th:fragment="list-galaxies" sec:authorize="isAuthenticated()">
    <div th:switch="${galaxies}">
        <span sec:authorize="hasAuthority('WRITE') || hasAuthority('ADMIN')" class="rightli" style="float:right"><a href="#" th:href="@{/add-galaxy}">Add New</a></span>
        <h2 th:case="null">No galaxies yet!</h2>
        <div th:case="*">
            <h2>Galaxies</h2>
            <table id="galaxies">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Constellation</th>
                    <th sec:authorize="hasAuthority('WRITE') || hasAuthority('ADMIN')">Edit</th>
                    <th sec:authorize="hasAuthority('WRITE') || hasAuthority('ADMIN')">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="galaxy : ${galaxies}">
                    <td th:text="${galaxy.name}"></td>
                    <td th:text="${galaxy.constellation}"></td>
                    <td sec:authorize="hasAuthority('WRITE') || hasAuthority('ADMIN')"><a th:href="@{/update-galaxy/{id}(id=${galaxy.id})}">Edit</a></td>
                    <td sec:authorize="hasAuthority('WRITE') || hasAuthority('ADMIN')"><a th:href="@{/delete-galaxy/{id}(id=${galaxy.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
